*.swp
*~
.DS_Store
*.pcap
tags

# CMake stuff
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Compiled stuff
*.a
*.so
__pycache__
*.pyc
